# Python
__pycache__/
*.py[cod]
*.class
venv/
.env
.DS_Store

# Data files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints

# IDE
.idea/
.vscode/
